<div class="container">
  <div class="container__form">
    <h1>Forgot password</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput [formControl]="emailAddress"/>
      <mat-error *ngIf="emailAddress.hasError('required')">Email address is required</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"
         fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch">
      <button mat-stroked-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="accent" [disabled]="emailAddress.invalid" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
